@font-face {
  font-family: 'Segoe UI Fallback';
  src: url('/segoeui.ttf') format("truetype");
}

@font-face {
  font-family: MDL2;
  src: url('./FullMDL2.ttf');
}
.MDL2-glyphs {
  font-family: 'MDL2';
}

/*
Add new icons like this, where <class> is the
name you will use to refer to the icon in HTML:

  .MDL2-glyphs.<class>:before {
    content: "\<glyph code>"
  }

And then use them like this:

  <span class="MDL2-glyphs <class>"></span>
*/

.MDL2-glyphs.search:before {
  content: "\E721"
}
.MDL2-glyphs.tag:before {
  content: '\E8EC';
}
.MDL2-glyphs.price-drop:before {
  content: '\EF42';
}
.MDL2-glyphs.phone:before {
  content: '\E8EA';
}
.MDL2-glyphs.tabs:before {
  content: '\E7E9';
}